* {
    box-sizing: border-box;
}
body {
    margin: 0;                 /* Quita el margen por defecto */
    padding: 0;                /* Quita el padding por defecto */
    background: #0a0a0a;       /* Fondo oscuro */
    font-family: "Cinzel", serif; /* Fuente principal */
    color: #e0e0e0;            /* Color de texto */
}

/* Títulos */

nav {
    background: linear-gradient(to right, #5f5f5f, #7a7a7a, #8c8c8c);
    padding: 12px 0;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;   /* centra horizontalmente */
    align-items: center;       /* alinea verticalmente */
    gap: 25px;                 /* espacio ordenado */
    flex-wrap: nowrap;         /* evita que se desorganicen */
    white-space: nowrap;       /* evita saltos raros de línea */
}

nav ul li {
    display: flex;
    align-items: center;       /* centra cada texto */
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #000;
    box-shadow: 0 0 10px rgba(255,255,255,0.35);
    border-radius: 8px;
    transition: 0.25s ease-in-out;
}
/* Contenedor principal: texto izquierda / imagen derecha */
.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* Texto */
.container .texto {
    flex: 1;
}
a {
    color: #000000;            /* Color gris claro */
    text-decoration: none;     /* Quita el subrayado */
    transition: 0.3s ease;     /* Animación suave */
}
a:hover {
    color: #ffffff;            /* Se vuelve blanco */
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    animation: typing 5s steps(40) forwards; /* solo escribe */
}
.typewriter h1 {
    font-size: 5dvh;
    margin: 0;
    opacity: 1;
}
.typewriter p {
    font-size: 6dvh;
    margin: 10px 0 0 0;
    opacity: 1;
}
/* Animación de escritura */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
