* {
    box-sizing: border-box;
}
body {
    margin: 0;                 /* Quita el margen por defecto */
    padding: 0;                /* Quita el padding por defecto */
    background: #0a0a0a;       /* Fondo oscuro */
    font-family: "Cinzel", serif; /* Fuente principal */
    color: #e0e0e0;            /* Color de texto */
}
h1, h2, h3 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
nav {
    background: linear-gradient(to right, #5f5f5f, #7a7a7a, #8c8c8c);
    padding: 12px 0;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: bold;

    padding: 8px 15px;
    border-radius: 8px;

    transition: 0.3s ease-in-out;
}

/* EFECTO AL PASAR EL MOUSE */
nav ul li a:hover {
    background: #ffffff;
    color: #000;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
div.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    object-fit: left;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;          /* Activa el diseño en fila */
    align-items: center;    /* Centra verticalmente */
    justify-content: space-between;
    gap: 20px;              /* Espacio entre texto e imagen */
}

/* Texto a la izquierda */
.container .texto {
    flex: 1;
}

/* Imagen a la derecha */
.container img {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}
a {
    color: #cfcfcf;            /* Color gris claro */
    text-decoration: none;     /* Quita el subrayado */
    transition: 0.3s ease;     /* Animación suave */
}
a:hover {
    color: #ffffff;            /* Se vuelve blanco */
}
p {
    color: rgba(240, 240, 240, 0.85);   /* Blanco suave */
    font-size: 30px;
}
