* {
    box-sizing: border-box;
}
body {
    margin: 0;                 /* Quita el margen por defecto */
    padding: 0;                /* Quita el padding por defecto */
    background: #0a0a0a;       /* Fondo oscuro */
    font-family: "Cinzel", serif; /* Fuente principal */
    color: #e0e0e0;            /* Color de texto */
}
/* Títulos */
nav {
    background: linear-gradient(to right, #5f5f5f, #7a7a7a, #8c8c8c);
    padding: 12px 0;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;   /* centra horizontalmente */
    align-items: center;       /* alinea verticalmente */
    gap: 25px;                 /* espacio ordenado */
    flex-wrap: nowrap;         /* evita que se desorganicen */
    white-space: nowrap;       /* evita saltos raros de línea */
}

nav ul li {
    display: flex;
    align-items: center;       /* centra cada texto */
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #000000;
    box-shadow: 0 0 10px rgba(255,255,255,0.35);
    border-radius: 8px;
    transition: 0.25s ease-in-out;
}

.container {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

/* ===== DESKTOP (typing activo) ===== */
.container h1,
.container p {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: .15em solid rgb(136, 136, 136);
    letter-spacing: .1em;
}

/* H1 */
.container h1 {
    font-size: 8dvh;
    margin: 0;

    animation:
        typing-h1 4s steps(32, end) forwards,
        blink-caret .75s step-end infinite;
}

/* P */
.container p {
    font-size: 8dvh;
    margin: 10px 0 0 0;
    opacity: 0;

    animation:
        typing-p 4s steps(60, end) forwards,
        blink-caret .75s step-end infinite;

    animation-delay: 4.2s;
}

/* ===== MÓVIL ===== */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .container h1,
    .container p {
        white-space: normal;
        width: auto;
        border-right: none;
        animation: none;
        opacity: 1;
        letter-spacing: normal;
        text-wrap: balance;
    }

    .container h1 {
        font-size: 8vw;
    }

    .container p {
        font-size: 9vw;
    }
}

/* ===== ANIMACIONES ===== */
@keyframes typing-h1 {
    from { width: 0 }
    to { width: 100% }
}

@keyframes typing-p {
    from { width: 0; opacity: 1 }
    to { width: 100%; opacity: 1 }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(180, 180, 180) }
}
